<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/css/Site 2.css" />
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/js/Base/ClassExtensions.js" asp-append-version="true"></script>
        <script src="~/js/Services/EventBroker.js" asp-append-version="true"></script>
        <script src="~/js/Services/Storage.js" asp-append-version="true"></script>
        <script src="~/js/Services/Base.js" asp-append-version="true"></script>    
        <script src="~/js/Services/WebSocketClient.js" asp-append-version="true"></script>
        <script src="~/js/UI/UIElement.js" asp-append-version="true"></script>
        <script src="~/js/UI/DragableElement.js" asp-append-version="true"></script>
        <script src="~/js/UI/BaseRenderer.js" asp-append-version="true"></script>
        <script src="~/js/UI/UIFactory.js" asp-append-version="true"></script>
        <script src="~/js/UI/LanesRenderer.js" asp-append-version="true"></script>
        <script src="~/js/UI/ProjectRenderer.js" asp-append-version="true"></script>
        <script src="~/js/TaskBoard/Task.js" asp-append-version="true"></script>
        <script src="~/js/TaskBoard/TaskBoard.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
		<link rel="stylesheet" href="~/css/site.min.css" />	
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>
		
    @RenderSection("Scripts", required: false)
    
</head>

<body>
    <div class="page">
        <div id="header">
            <div id="title">
                <h1 style="float:xsleft;margin:11px;">
                    Taskboard
                </h1>
                <input style="float: left;visibility: hidden;" type="text" id="viewStyle" />
                <input style="float: left;visibility: hidden;" type="button" id="btnrefresh" />
            </div>
        </div>
        <div id="main">
            @RenderBody()
            <div id="footer">
            </div>
        </div>
    </div>
</body>
</html>


